@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.App {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /*background: linear-gradient(#1cb5e0,#000046); */  
  text-align: center;
}

.name-page{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: xx-large;
  font-style: italic;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}
.name-page:hover,:before{
  border-radius: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    backdrop-filter: blur(5px);
    transition: 1s;
}

.grid-card{
  max-width: max-content;
  margin-top: 11%;
  margin: 0 auto;
}

.container{
  position:relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}

.line{
  background: rgba(0, 157, 113, 0.3);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}